node_modules

venv
.venv
ENV
env
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

out
dist
*.tgz
openapi.json

coverage
*.lcov

logs
*.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.eslintcache
.cache
*.tsbuildinfo
.idea
.vscode
.DS_Store

md/
test_*.json