# Server Configuration
PROJECT_NAME="AI Knowledge Base API"
ENVIRONMENT="development"
DEBUG=True
API_V1_STR="/api/v1"
SECRET_KEY=""
ACCESS_TOKEN_EXPIRE_MINUTES=

CORS_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]

POSTGRES_SERVER=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

REDIS_HOST=
REDIS_PORT=

AI_SERVICE_URL=http://localhost:8001
