fastapi
uvicorn[standard]
gunicorn
pydantic
pydantic-settings
email-validator
sqlalchemy
alembic
asyncpg
psycopg2-binary
greenlet
python-jose[cryptography]
passlib[bcrypt]
python-multipart
redis
arq
httpx
python-dotenv
structlog
pytest
pytest-asyncio
ruff
